
main{
	font-family: "Helvetica",Arial, sans-serif;
	margin: 5% 5%;
	border-width: 5px;
	padding: 0 5%;
	border-style: groove;

}

body{
	background-color: #ccccb3;
}


h1{
	text-align: center;
	font-weight: bold;
	

}

h2{
	text-align: center;
}

img{
	max-width: 100%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	border-style:ridge;
	padding: 0%;
	border-width: 25px;}

#img-div{
	text-align: center;
	font-size: 90%;
	font-style: italic;
	padding: 1% 0;}

#box-div{
	display: flex;
	flex-direction: column;
}

#tribute-info{
	width: 100%;
	height: 50%;
	

}
 


p{
	text-align: justify;
	font-size: 100%;
}

footer{
	text-align: center;
	font-size: 90%;
}